<h1>Rails Demo App</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<body>
	<div>
		<p>This is content on Demo-app index page</p>
		<p>Test of embedded Ruby and DB access outside of show.erb.html</p>
		<p><b>Init time: </b></p>
		<img src="/imgs/bLink.PNG" alt="image not shown" />
	</div>
</body>
